# IDE and environment files
.idea/
.env

# Logs and debug
*.log

# Node (if applicable)
node_modules/

# PHP dependencies
composer.phar
vendor/
vendor

# Qodana and testing
qodana.yaml
qodana.*

# Git and doc
.DS_Store
.github/
.gitignore
README.md

# Uploads
uploads

# PHPStorm
*.iml
.idea/dataSources.xml

# Laravel related (if applicable)
/.env
.phpunit.result.cache
/public/storage
/storage/*.key
/storage/oauth-private.key
/storage/oauth-public.key
/storage/logs/*
/bootstrap/cache/*

# Symfony related (if applicable)
/var/
/.env.local
.env.local.php
.env.*.local
/phpunit.result.cache

# Cache and logs
/cache/
*.cache
*.class

# General system files
Thumbs.db
*.swp
*.swo

# Specific IDE files
.vscode/
*.code-workspace