    .env

    #Composer
    /vendor/
    composer.lock

    # PHPStorm
    .idea/
    *.iml

    # Node
    /node_modules/
    npm-debug.log*
    yarn-debug.log*
    yarn-error.log*

    # Laravel related (if applicable)
    /.env
    .phpunit.result.cache
    /public/storage
    /storage/*.key
    /storage/oauth-private.key
    /storage/oauth-public.key
    /storage/logs/*
    /bootstrap/cache/*

    # Symfony related (if applicable)
    /var/
    /vendor/
    /.env.local
    .env.local.php
    .env.*.local
    /phpunit.result.cache

    # Cache and logs
    *.log
    /cache/
    /*.cache
    *.class

    # General system files
    .DS_Store
    Thumbs.db
    *.swp
    *.swo

    # Specific IDE files
    .vscode/
    *.code-workspace