# .ebextensions/php.config
option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /

commands:
  00-install-composer:
    command: |
      if [ ! -f /usr/local/bin/composer ]; then
        curl -sS https://getcomposer.org/installer | php
        mv composer.phar /usr/local/bin/composer
      fi
  01-composer-install:
    command: "composer install"

container_commands:
  01-set-permissions:
    command: "chmod -R 775 /var/app/current/storage /var/app/current/bootstrap/cache"