# .ebextensions/setup.config

        # Set environment variables
        option_settings:
          aws:elasticbeanstalk:application:environment:
            DB_HOST: cis2454-php-jsp.c36iwsaw0x1s.us-east-1.rds.amazonaws.com
            DB_USER: badtwitter
            DB_PASSWORD: badtwitter
            DB_NAME: socialtweet
            DB_PORT: 3306
            DB_DRIVER: mysql
            DB_CHARSET: utf8mb4



